version: 2.1
orbs:
    node: circleci/node@4.3.0
jobs:
    run:
        docker:
            - image: node:15.12.0

        working_directory: ~/repo

        steps:
            - checkout

            # Download and cache dependencies
            - restore_cache:
                  keys:
                      - v1-dependencies-{{ checksum "package.json" }}
                      # fallback to using the latest cache if no exact match is found
                      - v1-dependencies-

            - run: npm install

            - save_cache:
                  paths:
                      - node_modules
                  key: v1-dependencies-{{ checksum "package.json" }}

            # check formatting with prettier
            - run: npm run format

            # static code analysis with eslint
            - run: npm run lint

            # run tests
            - run: npm run test:ci

workflows:
    version: 2.1
    build-format-lint:
        jobs:
            - run
                filters:
                    branches:
                        only:
                            - dev
